* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#main {
    width: 1440px;
    height: 2755px;
    flex-direction: column;
}

#head {
    width: 100%;
    height: 60px;
    display: flex;
}

#head #head_left {
    width: 50%;
    display: flex;
}

#head #head_left img {
    width: 90px;
    height: 30px;
    margin-left: 25px;
    margin-top: 15px;
}

#head_left div {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 25px;
}

#head_left #Home {
    margin-left: 40px;
    color: aqua;
    border: 5px;
    border-style: none none solid none;
    border-color: aqua;
    padding: 0px 10px 10px 10px;
    margin-right: 25px;
}

#head_right {
    display: flex;
}

#head_right input {
    display: flex;
    width: 340px;
    height: 30px;
    margin-left: 205px;
    margin-top: 15px;
}

#head_right img {
    display: flex;
}

#Home_Category {
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

#Home_Category1 {
    color: grey;
    margin-right: 10px;
}

#main #Product_title h1 {
    margin-top: 25px;
    margin-left: 130px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 45px;
}

#sao1 {
    display: flex;
    margin-top: 15px;
    margin-left: 130px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#img_center{
    display: flex;
    width: 1880px;
    height: 430px;
    margin-left: 130px;
    margin-top: 20px;
}

#img_center #img_left{
    display: flex;
    width: 585px;
    margin-right: 15px;
}

#img_right{
    display: flex;
}

#img_right_left{
    flex-direction: column;

}

#img_right #img_right_left #img_left_top{
    display: flex;
    width: 280px;
    height: 210px;
    margin-bottom: 15px;
    margin-right: 20px;
}

#img_right #img_right_left #img_left_bot{
    display: flex;
    width: 280px;
    height: 210px;
}

#img_right_right{
    flex-direction: column;
}

#img_right #img_right_right #img_right_top{
    display: flex;
    width: 280px;
    height: 210px;
    margin-bottom: 15px;
    margin-right: 20px;
}

#img_right #img_right_right #img_right_bot{
    display: flex;
    width: 280px;
    height: 210px;
}

#content1{
    margin-top: 50px;
    margin-left: 130px;
    display: flex;
    height: 450px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#content1_left{
    flex-direction: column;
    width: 775px;
    
}
#content1_left h2{
    margin-bottom: 30px;
}

#content1_left #comment1{
    display: flex;
    line-height: 1.6;
}

#comment2{
    display: flex;
}

#img_1{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.img_1{
    display: flex;
    margin-bottom: 20px;
}

#note1{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 40px;
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.note1{
    margin-bottom: 25px;
}
.note1_1{
    margin-bottom: 25px;
    margin-top: 5px;
}

#img_2{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 50px;
}

.img_2{
    display: flex;
    margin-bottom: 20px;
}
#note2{
    display: flex;
    flex-direction: column; 
    margin-left: 5px;
    margin-top: 40px;
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.note2{
    margin-bottom: 25px;
}
.note2_1{
    margin-bottom: 25px;
    margin-top: 5px;
}
#content1_right{
    display: flex;
    margin-left: 70px;
    width: 340px;
    height: 390px;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 5px;
}

#money{
    width: 300px;
    margin-top: 15px;
    margin-left: 260px;
    font-size: 35px;
    color: aqua;
}
#color{
    display: flex;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 18px;
    background-color: grey;
}

#size{
    display: flex;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: grey;
}

#num{
    display: flex;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: grey;
}
#total{
    display: flex;
    margin-top: 30px;
}
#total_left{
    display: flex;
    margin-left: 20px;
    color: grey;
}
#total_right{
    font-weight: bold;
    display: flex;
    margin-left: 235px;
}

#buy_now_button{
    margin-top: 15px;
    margin-left: 20px;
    width: 300px;
    height: 45px;
    color: white;
    background-color: aqua;
    text-align: center;
    border-radius: 5px;
    border: 2px solid aqua;

}

#add_cart_button{
    margin-top: 15px;
    margin-left: 20px;
    width: 300px;
    height: 45px;
    color: aqua;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 2px solid aqua;
}

#add_cart_button img{
    width: 17px;
    height: 17px;
}

#reiview{
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#head_reiview {
    margin-bottom: 30px;
    display: flex;
}



.display{
    display: flex;
}
.name{
    font-weight: bold;
    margin-left: 10px;
}.color{
    color: grey;
    margin-left: 10px;
}
.text{
    margin-bottom: 40px;
    margin-top: 10px;
}
#reiview_left{
    width: 530px;
    height: 230px;
}

#reiview_right{
    width: 510px;
    height: 225px;
    margin-left: 80px;
}
#reiview_center{
    display: flex;
}

#Related{
    display: flex;
}
#Related h2{
    margin-top: 100px;
    margin-left: 130px;
    margin-bottom: 35px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#img_dollar{
    display: flex;
    width: 1175px;
    height: 355px;
    margin-left: 130px;
    justify-content: space-around;
}

.fruit{
    border: 2px solid grey;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    display: flex;
    margin-top: 165px;
    margin-bottom: 40px;
    justify-content: center;
}

.text_center{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#input{
    display: flex;
    margin-left: 530px;
    width: 455px;
    height: 35px;
}

#input_left input{
    display: flex;
    width: 265px;
    height: 35px;
    border-radius: 5px 0px 0px 5px;
    border: 2px;
    border-style: solid none solid solid;
    border-color: grey;
}

#input_right #Subscribe_button{
    width: 110px;
    height: 35px;
    background-color: aqua;
    color: white;
    border-radius: 0px 5px 5px 0px;
    border: 2px;
    border-color: aqua;
    padding: 2px;
}